body {
  font-family: $basic-ft;
  font-size: 1.25rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: $title-ft;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
}

.subtitle {
  color: $primary-cr;
  text-transform: uppercase;
}

p,
label {
  color: $letter-cr-medium;
}
