// Colors

$letter-cr-light: #fff;
$letter-cr-medium: #333333;
$primary-cr: #587b1f;
$base-cr-light-warm: #f5edea;
$base-cr-light-cold: #eaeae5;
$base-cr-medium: #8c8c8c;
$base-cr-dark: #27360e;

// Fonts

$title-ft: "Prociono", serif;
$basic-ft: "Roboto", sans-serif;
