#contact {
  overflow: hidden;

  grid-template-rows: 1fr 4fr 4fr 1fr 1fr 1fr;

  .card-bordered {
    grid-row: 5/7;
    grid-column: 2 / 6;
    @include flexbox(flex-start, space-evenly);
    padding: 1.7rem;
  }

  .card-right {
    grid-row: 2/6;
  }

  .card-left {
    grid-row: 1/4;

    img {
      height: 100%;
    }
  }

  .card-text {
    background: $base-cr-light-cold;
    padding: 1.7rem;

    .title {
      color: $base-cr-dark;
      margin: 1rem 0.7rem 2rem;

      &::before {
        background: $base-cr-dark;
      }
    }

    form {
      @include flexbox(stretch, flex-start);

      .input-wrapper {
        margin: 0.6rem;
        @include flexbox(stretch, flex-start);

        label {
          margin-bottom: 0.7rem;
        }

        input {
          width: 100%;
        }

        #message {
          min-height: 10rem;
          width: 100%;
        }
      }
      .btn {
        margin: 0.7rem;
        display: block;
        width: min-content;
      }
    }
  }
}
